#{version.versioned_type} [#{version.versioned_id}]:
- if !version.tag
  modified on #{version.modifications.keys.join(",")}
- elsif version.tag=="deleted"
  deleted
= "(" + distance_of_time_in_words(Time.new, version.created_at,true) + " ago)"
%br
