= version.versioned_type + "[" + version.versioned_id.to_s + "]:"
modifications on
= version.modifications.keys.join(",")
= "(" + distance_of_time_in_words(Time.new, version.created_at,true) + " ago)"
%br
