.box(id="action")
  .block(id="action")
    %p
      - unless page == :index
        = link_to 'Browse', stored_queries_path, :class => "action browse"
        &nbsp;
      - unless page == :new
        = link_to 'New', new_stored_query_path, :class => "action new"
        &nbsp;
      - if page == :edit
        = link_to 'Duplicate', duplicate_stored_query_path, :confirm => 'Are you sure?', :class => "action duplicate"
        = link_to 'Delete', @stored_query, :confirm => 'Are you sure?', :method => :delete, :class => "action delete"