.grid_2
  .box
    %h2 Action
    .block
      %p
        = link_to 'Browse all', stored_queries_path, :class => "action browse"
.grid_10
  .box
    %h2 New Stored query
    .block
      = simple_form_for @stored_query do |f|
        =f.input :name
        =f.input :aggregate
        =f.input :variable
        =f.input :rows
        =f.input :columns
        =f.input :filters, :input_html => {:rows=> '3'}
        =f.button :submit, :class => "aligned"
.clear