= f.input :email
= f.input :password, :hint => "(leave blank if you don't want to change it)"
= f.input :password_confirmation
= f.input :current_password, :hint => "(we need your current password to confirm your changes)"