/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*can be 12 or 16*/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* line 12, ../../app/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, ../../app/stylesheets/_reset.scss */
body {
  line-height: 1;
}

/* line 24, ../../app/stylesheets/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 27, ../../app/stylesheets/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../app/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 37, ../../app/stylesheets/_reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 42, ../../app/stylesheets/_reset.scss */
ins {
  text-decoration: none;
}

/* line 45, ../../app/stylesheets/_reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 50, ../../app/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/
/* =Basic HTML
--------------------------------------------------------------------------------*/
/* line 12, ../../app/stylesheets/_text.scss */
body {
  /*font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;*/
  font-family: Ubuntu, sans-serif;
  font-size: 11px;
}

/* line 19, ../../app/stylesheets/_text.scss */
a:focus {
  outline: 1px dotted invert;
}

/* line 24, ../../app/stylesheets/_text.scss */
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

/* =Headings
--------------------------------------------------------------------------------*/
/* line 36, ../../app/stylesheets/_text.scss */
h1 {
  font-size: 25px;
}

/* line 41, ../../app/stylesheets/_text.scss */
h2 {
  font-size: 23px;
}

/* line 46, ../../app/stylesheets/_text.scss */
h3 {
  font-size: 21px;
}

/* line 51, ../../app/stylesheets/_text.scss */
h4 {
  font-size: 19px;
}

/* line 56, ../../app/stylesheets/_text.scss */
h5 {
  font-size: 17px;
}

/* line 61, ../../app/stylesheets/_text.scss */
h6 {
  font-size: 15px;
}

/* =Spacing
--------------------------------------------------------------------------------*/
/* line 69, ../../app/stylesheets/_text.scss */
ol {
  list-style: decimal;
}

/* line 74, ../../app/stylesheets/_text.scss */
ul {
  list-style: square;
}

/* line 79, ../../app/stylesheets/_text.scss */
li {
  margin-left: 30px;
}

/* line 98, ../../app/stylesheets/_text.scss */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 15px;
}

/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/
/* =Containers
--------------------------------------------------------------------------------*/
/* line 12, ../../app/stylesheets/_grid.scss */
.container_12 {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
/* line 23, ../../app/stylesheets/_grid.scss */
.grid_1 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_2 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_3 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_4 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_5 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_6 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_7 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_8 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_9 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_10 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_11 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 23, ../../app/stylesheets/_grid.scss */
.grid_12 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_1 {
  width: 6.333%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_2 {
  width: 14.667%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_3 {
  width: 23%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_4 {
  width: 31.333%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_5 {
  width: 39.667%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_6 {
  width: 48%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_7 {
  width: 56.333%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_8 {
  width: 64.667%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_9 {
  width: 73%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_10 {
  width: 81.333%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_11 {
  width: 89.667%;
}

/* line 32, ../../app/stylesheets/_grid.scss */
.container_12 .grid_12 {
  width: 98%;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
/* line 39, ../../app/stylesheets/_grid.scss */
.alpha {
  margin-left: 0;
}

/* line 44, ../../app/stylesheets/_grid.scss */
.omega {
  margin-right: 0;
}

/* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/
/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_1 {
  padding-left: 8.333%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_2 {
  padding-left: 16.667%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_3 {
  padding-left: 25%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_4 {
  padding-left: 33.333%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_5 {
  padding-left: 41.667%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_6 {
  padding-left: 50%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_7 {
  padding-left: 58.333%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_8 {
  padding-left: 66.667%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_9 {
  padding-left: 75%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_10 {
  padding-left: 83.333%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_11 {
  padding-left: 91.667%;
}

/* line 52, ../../app/stylesheets/_grid.scss */
.container_12 .prefix_12 {
  padding-left: 100%;
}

/* =Suffix Extra Space >> Global
--------------------------------------------------------------------------------*/
/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_1 {
  padding-right: 8.333%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_2 {
  padding-right: 16.667%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_3 {
  padding-right: 25%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_4 {
  padding-right: 33.333%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_5 {
  padding-right: 41.667%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_6 {
  padding-right: 50%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_7 {
  padding-right: 58.333%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_8 {
  padding-right: 66.667%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_9 {
  padding-right: 75%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_10 {
  padding-right: 83.333%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_11 {
  padding-right: 91.667%;
}

/* line 59, ../../app/stylesheets/_grid.scss */
.container_12 .suffix_12 {
  padding-right: 100%;
}

/* =Clear Floated Elements
--------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 71, ../../app/stylesheets/_grid.scss */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.positioniseverything.net/easyclearing.html */
/* line 90, ../../app/stylesheets/_grid.scss */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

/* line 99, ../../app/stylesheets/_grid.scss */
.clearfix {
  display: inline-block;
}

/* line 104, ../../app/stylesheets/_grid.scss */
* html .clearfix {
  height: 1%;
}

/* line 109, ../../app/stylesheets/_grid.scss */
.clearfix {
  display: block;
}

/*
-----------------------------------------------
Navigation
----------------------------------------------- */
/* navigation (horizontal subnavigation)
----------------------------------------------- */
/* line 9, ../../app/stylesheets/_nav.scss */
ul.nav,
ul.nav * {
  margin: 0;
  padding: 0;
}

/* line 10, ../../app/stylesheets/_nav.scss */
ul.nav {
  position: relative;
  background: #d5e69c;
  max-width: 100%;
  height: 2.5em;
}

/* line 16, ../../app/stylesheets/_nav.scss */
ul.nav li {
  cursor: pointer;
  float: left;
  text-align: center;
  list-style-type: none;
  font-weight: normal;
}

/* line 23, ../../app/stylesheets/_nav.scss */
ul.nav li ul {
  cursor: default;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: auto;
  top: 2.5em;
  background-position: 0 0 !important;
  left: -9000px;
}

/* line 33, ../../app/stylesheets/_nav.scss */
ul.nav li ul li {
  padding: 0;
  border: none;
  width: auto;
  max-width: none;
}

/* line 39, ../../app/stylesheets/_nav.scss */
ul.nav li a {
  background: #3e6e10;
  background: #d5e69c;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  padding: 0 1em;
  height: 2.4em;
  line-height: 2.5em;
}

/* line 51, ../../app/stylesheets/_nav.scss */
ul.nav li ul li a {
  position: relative !important;
  /* ie Mac */
  cursor: pointer !important;
  white-space: nowrap;
  line-height: 2em;
  height: 2em;
  font-weight: normal;
  color: #d5e69c;
  background-position: 0 50% !important;
}

/* line 64, ../../app/stylesheets/_nav.scss */
ul.nav li:hover a,
ul.nav li a:hover,
ul.nav li a:focus {
  color: #000;
  background: #ccc;
}

/* line 65, ../../app/stylesheets/_nav.scss */
ul.nav li a:active {
  color: #d5e69c;
  background: #3e6e10;
}

/* line 66, ../../app/stylesheets/_nav.scss */
ul.nav li:hover ul {
  left: 0;
  z-index: 10;
}

/* line 68, ../../app/stylesheets/_nav.scss */
ul.nav li ul,
ul.nav li {
  background: #ccc !important;
}

/* line 69, ../../app/stylesheets/_nav.scss */
ul.nav li:hover ul li a {
  color: #3e6e10;
}

/* line 70, ../../app/stylesheets/_nav.scss */
ul.nav li:hover ul li a:hover {
  color: #000;
  background: #3e6e10;
}

/* line 71, ../../app/stylesheets/_nav.scss */
ul.nav li:hover ul li a:active {
  color: #d5e69c;
  background: #3e6e10;
}

/* line 73, ../../app/stylesheets/_nav.scss */
ul.nav li.current a {
  color: #d5e69c;
  background: #3e6e10;
  cursor: default;
  font-weight: bold;
}

/* line 74, ../../app/stylesheets/_nav.scss */
ul.nav li.current ul {
  left: 0;
  z-index: 5;
}

/* line 76, ../../app/stylesheets/_nav.scss */
ul.nav li.current ul,
ul.nav li.current {
  background: #ccc !important;
}

/* line 77, ../../app/stylesheets/_nav.scss */
ul.nav li.current ul li a {
  color: #3e6e10;
  background: #ccc;
  font-weight: normal;
}

/* line 78, ../../app/stylesheets/_nav.scss */
ul.nav li.current ul li a:hover {
  color: #000;
  background: #3e6e10;
}

/* line 81, ../../app/stylesheets/_nav.scss */
ul.nav li ul li.current a,
ul.nav li ul li.current a:hover,
ul.nav li.current:hover ul li a:active {
  color: #d5e69c;
  background: #3e6e10;
}

/* navigation (vertical subnavigation)
----------------------------------------------- */
/* line 86, ../../app/stylesheets/_nav.scss */
ul.nav {
  background: #d5e69c;
}

/* line 89, ../../app/stylesheets/_nav.scss */
ul.main li {
  position: relative;
  top: 0;
  left: 0;
}

/* line 94, ../../app/stylesheets/_nav.scss */
ul.main li ul {
  border-top: 0;
}

/* line 97, ../../app/stylesheets/_nav.scss */
ul.main li ul li {
  float: left;
}

/* line 100, ../../app/stylesheets/_nav.scss */
ul.main li a {
  height: 2.5em;
  line-height: 2.5em;
  border: 0;
  color: #3e6e10;
  background: #d5e69c;
}

/* line 107, ../../app/stylesheets/_nav.scss */
ul.main li ul li a {
  width: 12em;
  line-height: 2em;
  height: 2em;
  text-align: left;
  color: #3e6e10;
  border-top: 1px solid #3e6e10;
  background: #3e6e10;
}

/* line 116, ../../app/stylesheets/_nav.scss */
ul.main li a:focus {
  color: #3e6e10;
  background: #d5e69c;
}

/* line 117, ../../app/stylesheets/_nav.scss */
ul.main li ul li a:hover {
  color: #3e6e10;
  background: #799d23;
}

/* line 121, ../../app/stylesheets/_nav.scss */
ul.main li:hover a {
  color: white;
  background: #799d23;
}

/* line 125, ../../app/stylesheets/_nav.scss */
ul.main li:hover ul li a {
  color: white;
}

/* line 126, ../../app/stylesheets/_nav.scss */
ul.main li:hover ul li a:hover {
  color: white;
  background: #3e6e10;
}

/* line 127, ../../app/stylesheets/_nav.scss */
ul.main li:hover a:active {
  background: #799d23;
}

/* line 128, ../../app/stylesheets/_nav.scss */
ul.main li:hover ul li a:active {
  color: white;
  background: #799d23;
}

/* secondary list
----------------------------------------------- */
/* line 133, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary {
  float: right;
  color: #cde;
  background: transparent !important;
}

/* line 138, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary span.status {
  float: left;
  padding: 0 1em;
  line-height: 2.77em;
  height: 2.77em;
  font-size: 0.9em;
}

/* line 145, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary span.status a {
  float: none;
  display: inline;
  padding: 0;
  height: auto;
  line-height: auto;
  color: #cde;
  background: transparent;
}

/* line 154, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary span.status a:hover {
  color: #3e6e10;
  background: transparent;
}

/* line 158, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary span.status span {
  text-transform: capitalize;
}

/* line 161, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary:hover a {
  color: white;
  background: #799d23;
}

/* line 165, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary:hover a:hover {
  background: #799d23;
}

/* line 168, ../../app/stylesheets/_nav.scss */
ul.nav li.secondary:hover a:active {
  background: #3e6e10;
}

/* line 1, ../../app/stylesheets/_layout.scss */
body {
  background: #eeeeee;
  color: #333333;
  padding: 0 0 40px;
}

/*links*/
/* line 8, ../../app/stylesheets/_layout.scss */
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* line 14, ../../app/stylesheets/_layout.scss */
a:hover {
  color: #333333;
}

/* container
----------------------------------------------- */
/* line 20, ../../app/stylesheets/_layout.scss */
.container_12 {
  background-color: white;
}

/* headings
----------------------------------------------- */
/* line 26, ../../app/stylesheets/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin-bottom: .3em;
}

/* line 30, ../../app/stylesheets/_layout.scss */
h5 {
  font-size: 1em;
  text-transform: uppercase;
}

/* line 34, ../../app/stylesheets/_layout.scss */
h6 {
  font-size: 1.1em;
  text-transform: uppercase;
}

/* line 38, ../../app/stylesheets/_layout.scss */
h1 a {
  font-weight: normal;
}

/* logo
----------------------------------------------- */
/* line 45, ../../app/stylesheets/_layout.scss */
h1#logo {
  font-weight: normal;
  font-size: 3em;
  text-align: left;
  background: #74b200;
  padding: .25em 1em;
  margin-bottom: 0;
}

/* line 54, ../../app/stylesheets/_layout.scss */
h1#logo a {
  color: white;
}

/* page heading
----------------------------------------------- */
/* line 61, ../../app/stylesheets/_layout.scss */
h2#page-heading {
  font-weight: normal;
  padding: .25em;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
}

/* boxes
----------------------------------------------- */
/* line 71, ../../app/stylesheets/_layout.scss */
.box {
  background: #ddd;
  margin-bottom: 20px;
  padding: 10px 10px 1px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 79, ../../app/stylesheets/_layout.scss */
.box h2 {
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  background: #333333;
  margin: -10px -10px 0 -10px;
  padding: 6px 12px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 92, ../../app/stylesheets/_layout.scss */
.box h2 a,
.box h2 a.visible {
  color: white;
  background: #333333 url("/images/switch_minus.gif") 97% 50% no-repeat;
  display: block;
  padding: 6px 12px;
  margin: -6px -12px;
  border: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 103, ../../app/stylesheets/_layout.scss */
.grid_4 .box h2 a {
  background-position: 97% 50%;
}

/* line 106, ../../app/stylesheets/_layout.scss */
.grid_5 .box h2 a {
  background-position: 98% 50%;
}

/* line 109, ../../app/stylesheets/_layout.scss */
.grid_12 .box h2 a {
  background-position: 99% 50%;
}

/* line 115, ../../app/stylesheets/_layout.scss */
.box h2 a.hidden,
.box h2 a.hidden:hover {
  background-image: url("/images/switch_plus.gif");
}

/* line 118, ../../app/stylesheets/_layout.scss */
.box h2 a:hover {
  background-color: #111;
}

/* line 121, ../../app/stylesheets/_layout.scss */
.block {
  padding-top: 10px;
}

/* line 124, ../../app/stylesheets/_layout.scss */
div.menu {
  padding: 0;
}

/* line 127, ../../app/stylesheets/_layout.scss */
div.menu h2 {
  margin: 0;
}

/* line 130, ../../app/stylesheets/_layout.scss */
div.menu .block {
  padding-top: 0;
}

/* paragraphs, quotes and lists
----------------------------------------------- */
/* line 137, ../../app/stylesheets/_layout.scss */
p {
  margin-bottom: 1em;
}

/* line 141, ../../app/stylesheets/_layout.scss */
ul, ol {
  padding-top: 0;
}

/* menus
----------------------------------------------- */
/* line 148, ../../app/stylesheets/_layout.scss */
ul.menu {
  list-style: none;
  border-top: 1px solid #bbb;
}

/* line 152, ../../app/stylesheets/_layout.scss */
ul.menu li {
  margin: 0;
}

/* line 155, ../../app/stylesheets/_layout.scss */
ul.menu li a {
  display: block;
  padding: 4px 10px;
  border-bottom: 1px solid #ccc;
}

/* line 160, ../../app/stylesheets/_layout.scss */
ul.menu li a:hover {
  background: #eee;
}

/* line 163, ../../app/stylesheets/_layout.scss */
ul.menu li a:active {
  background: #ccc;
}

/* line 166, ../../app/stylesheets/_layout.scss */
ul.menu li a.active {
  background: #ccc;
}

/* submenus
----------------------------------------------- */
/* line 174, ../../app/stylesheets/_layout.scss */
ul.menu ul {
  list-style: none;
  margin: 0;
}

/* line 178, ../../app/stylesheets/_layout.scss */
ul.menu ul li a {
  padding-left: 30px;
}

/* section menus
----------------------------------------------- */
/* line 185, ../../app/stylesheets/_layout.scss */
ul.section {
  border-top: 0;
  margin-bottom: 0;
}

/* line 189, ../../app/stylesheets/_layout.scss */
ul.section li {
  text-transform: uppercase;
}

/* line 192, ../../app/stylesheets/_layout.scss */
ul.section li a {
  background: #bbb;
}

/* line 195, ../../app/stylesheets/_layout.scss */
ul.section li a:hover {
  background: #aaa;
}

/* line 198, ../../app/stylesheets/_layout.scss */
ul.section li a:active {
  color: white;
  background: #666;
}

/* line 202, ../../app/stylesheets/_layout.scss */
ul.section li li a {
  background: #ddd;
  border-bottom: 1px solid #eee;
}

/* line 206, ../../app/stylesheets/_layout.scss */
ul.section li li a:hover {
  background: #ccc;
}

/* line 209, ../../app/stylesheets/_layout.scss */
ul.section li li a:active {
  color: black;
  background: white;
}

/* line 213, ../../app/stylesheets/_layout.scss */
ul.section ul li {
  text-transform: none;
}

/* line 216, ../../app/stylesheets/_layout.scss */
ul.section ul.current li a {
  background: #eee;
  border-bottom: 1px solid white;
}

/* line 220, ../../app/stylesheets/_layout.scss */
ul.section ul.current li a:hover {
  background: #ddd;
}

/* line 223, ../../app/stylesheets/_layout.scss */
ul.section ul.current li a:active {
  background: white;
}

/* line 226, ../../app/stylesheets/_layout.scss */
ul.section li a.current {
  color: white;
  background: #666;
}

/* line 230, ../../app/stylesheets/_layout.scss */
ul.section li a.current:hover {
  background: #555;
}

/* line 233, ../../app/stylesheets/_layout.scss */
ul.section li a.current:active {
  background: #444;
}

/* line 236, ../../app/stylesheets/_layout.scss */
ul.section li a.active {
  background: white;
  cursor: default;
}

/* line 241, ../../app/stylesheets/_layout.scss */
ul.section li.current > a.active,
ul.section li.current > a.active:hover {
  color: white;
  background: #666;
  cursor: default;
}

/* table
----------------------------------------------- */
/* line 250, ../../app/stylesheets/_layout.scss */
table {
  width: 100%;
  border: 1px solid #bbb;
  margin-bottom: 10px;
}

/* line 255, ../../app/stylesheets/_layout.scss */
col.colC {
  width: 8em;
}

/* line 258, ../../app/stylesheets/_layout.scss */
th, td {
  padding: .2em 1em;
  text-align: left;
}

/* line 262, ../../app/stylesheets/_layout.scss */
thead th {
  border-bottom: 2px solid #888;
  background: #bbb;
  padding: .4em 1em .2em;
}

/* line 267, ../../app/stylesheets/_layout.scss */
thead th.table-head {
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  background: #555;
  border: 1px solid #555;
}

/* line 276, ../../app/stylesheets/_layout.scss */
tbody th,
tbody td {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
}

/* line 282, ../../app/stylesheets/_layout.scss */
tbody tr.odd th,
tbody tr.odd td {
  background: white;
}

/* line 286, ../../app/stylesheets/_layout.scss */
tfoot th,
tfoot td {
  border-top: 2px solid #666;
  background: #eee;
}

/* line 291, ../../app/stylesheets/_layout.scss */
tfoot tr.total th,
tfoot tr.total td {
  border-top: 6px double #666;
}

/* line 294, ../../app/stylesheets/_layout.scss */
tfoot tr.total th {
  text-transform: uppercase;
}

/* line 298, ../../app/stylesheets/_layout.scss */
th.currency,
td.currency {
  text-align: right;
}

/* forms
----------------------------------------------- */
/* line 305, ../../app/stylesheets/_layout.scss */
form {
  overflow: hidden;
}

/* line 308, ../../app/stylesheets/_layout.scss */
fieldset {
  border: 1px solid #bbb;
  padding: 10px;
  position: relative;
  background: #e9e9e9;
  margin-bottom: 10px;
}

/* line 315, ../../app/stylesheets/_layout.scss */
legend {
  font-size: 1.1em;
  padding: .4em .8em;
  background: white;
  border: 1px solid #bbb;
}

/* line 321, ../../app/stylesheets/_layout.scss */
fieldset.login p {
  margin-bottom: 1em;
  margin-top: 0pt;
}

/* line 325, ../../app/stylesheets/_layout.scss */
fieldset p label {
  width: 98%;
}

/* line 328, ../../app/stylesheets/_layout.scss */
fieldset p input {
  width: 98%;
}

/* line 331, ../../app/stylesheets/_layout.scss */
fieldset p input[type=checkbox] {
  width: auto;
}

/* line 334, ../../app/stylesheets/_layout.scss */
fieldset p textarea {
  width: 98%;
}

/* line 337, ../../app/stylesheets/_layout.scss */
fieldset p select {
  width: 99%;
}

/* line 341, ../../app/stylesheets/_layout.scss */
fieldset.idcard p {
  margin-bottom: 1em;
  margin-top: 0pt;
}

/* line 345, ../../app/stylesheets/_layout.scss */
fieldset.idcard p input.button {
  margin-left: 55%;
  width: 40%;
}

/* line 350, ../../app/stylesheets/_layout.scss */
fieldset.demand_projection p label {
  width: 25%;
}

/* line 353, ../../app/stylesheets/_layout.scss */
fieldset.demand_projection p select {
  width: 30%;
}

/* line 356, ../../app/stylesheets/_layout.scss */
fieldset.demand_projection p input {
  width: 10%;
}

/* line 360, ../../app/stylesheets/_layout.scss */
fieldset.demand_projection p input.button {
  width: 10%;
}

/* line 365, ../../app/stylesheets/_layout.scss */
fieldset.login p label {
  float: left;
  line-height: 2em;
  margin-right: 3%;
  text-align: right;
  width: 32%;
}

/* line 372, ../../app/stylesheets/_layout.scss */
fieldset.login p input {
  width: 60%;
}

/* line 375, ../../app/stylesheets/_layout.scss */
fieldset.login input.button {
  margin-left: 35%;
}

/* line 379, ../../app/stylesheets/_layout.scss */
form p.notice {
  font-weight: bold;
}

/* line 382, ../../app/stylesheets/_layout.scss */
input.search.text {
  width: 66%;
}

/* line 385, ../../app/stylesheets/_layout.scss */
input.search.button {
  width: 28%;
  margin-left: 2%;
}

/* line 389, ../../app/stylesheets/_layout.scss */
input.filter.text {
  width: 99%;
}

/* articles
----------------------------------------------- */
/* line 396, ../../app/stylesheets/_layout.scss */
.articles {
  padding: 0;
}

/* line 399, ../../app/stylesheets/_layout.scss */
.articles h2 {
  margin: 0;
}

/* line 402, ../../app/stylesheets/_layout.scss */
#articles {
  padding-top: 0;
}

/* line 405, ../../app/stylesheets/_layout.scss */
.article {
  border-top: 1px solid #666;
  padding-top: .5em;
}

/* line 409, ../../app/stylesheets/_layout.scss */
.box .article {
  border-top: 3px solid white;
  padding: 13px 10px 0 10px;
}

/* line 413, ../../app/stylesheets/_layout.scss */
.article h2 {
  font-size: 2em;
  font-weight: normal;
  text-transform: none;
  color: #333333;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

/* line 423, ../../app/stylesheets/_layout.scss */
.article h3 {
  margin-bottom: .2em;
  font-size: 1.6em;
}

/* line 427, ../../app/stylesheets/_layout.scss */
.box .first {
  border-top: none;
}

/* line 430, ../../app/stylesheets/_layout.scss */
.article h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: .5em;
}

/* line 435, ../../app/stylesheets/_layout.scss */
.article a.image {
  float: left;
  margin: 3px 10px 3px 0;
  padding: 4px;
  border: 1px solid #bbb;
  background: white;
}

/* line 442, ../../app/stylesheets/_layout.scss */
.article a.image:hover {
  border: 1px solid #666;
}

/* line 445, ../../app/stylesheets/_layout.scss */
.article a.image img {
  float: left;
}

/* line 448, ../../app/stylesheets/_layout.scss */
.article p.meta {
  color: #666;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  padding: .3em 0;
  margin-bottom: .8em;
}

/* AJAX sliding shelf
----------------------------------------------- */
/* line 458, ../../app/stylesheets/_layout.scss */
#loading {
  float: right;
  margin-right: 14px;
  margin-top: -2px;
}

/* line 459, ../../app/stylesheets/_layout.scss */
.block {
  padding-bottom: 1px;
}

/* Accordian
----------------------------------------------- */
/* line 464, ../../app/stylesheets/_layout.scss */
.toggler {
  color: #222;
  margin: 0;
  padding: 2px 5px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
  font-size: 1.1em;
  font-weight: normal;
}

/* line 476, ../../app/stylesheets/_layout.scss */
.element h4 {
  margin: 0;
  padding: 4px;
  line-height: 1.2em;
}

/* line 481, ../../app/stylesheets/_layout.scss */
.element p {
  margin: 0;
  padding: 4px;
}

/* line 485, ../../app/stylesheets/_layout.scss */
.float-right {
  padding: 10px 20px;
  float: right;
}

/* line 490, ../../app/stylesheets/_layout.scss */
#accordian-block {
  padding-bottom: 10px;
}

/* Mootools Kwicks
----------------------------------------------- */
/* line 497, ../../app/stylesheets/_layout.scss */
#kwick-box {
  padding: 0;
  overflow: hidden;
}

/* line 501, ../../app/stylesheets/_layout.scss */
#kwick-box h2 {
  margin: 0;
}

/* line 504, ../../app/stylesheets/_layout.scss */
#kwick {
  position: relative;
}

/* line 507, ../../app/stylesheets/_layout.scss */
#kwick .kwicks {
  display: block;
  background: #999;
  height: 120px;
  list-style: none;
  margin: 0;
  overflow: hidden;
}

/* line 515, ../../app/stylesheets/_layout.scss */
#kwick li {
  float: left;
  margin: 0;
  padding: 0;
}

/* line 520, ../../app/stylesheets/_layout.scss */
#kwick .kwick {
  display: block;
  cursor: pointer;
  overflow: hidden;
  height: 100px;
  width: 215px;
  padding: 10px;
  background: white;
}

/* line 529, ../../app/stylesheets/_layout.scss */
#kwick .kwick span {
  color: white;
}

/* line 532, ../../app/stylesheets/_layout.scss */
#kwick .one {
  background: #666;
}

/* line 535, ../../app/stylesheets/_layout.scss */
#kwick .two {
  background: #777;
}

/* line 538, ../../app/stylesheets/_layout.scss */
#kwick .three {
  background: #888;
}

/* line 541, ../../app/stylesheets/_layout.scss */
#kwick .four {
  background: #999;
}

/* notice */
/* line 546, ../../app/stylesheets/_layout.scss */
.notice {
  background: #ddd;
  margin-bottom: 10px;
  padding: 8px 18px 8px 8px;
  border: 2px red dashed;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/*
---datatable
*/
/* line 559, ../../app/stylesheets/_layout.scss */
.dataTables_wrapper {
  position: relative;
  /*min-height: 302px;*/
  clear: both;
  _height: 302px;
}

/* line 565, ../../app/stylesheets/_layout.scss */
.dataTables_length {
  float: left;
  width: 40%;
  margin-bottom: 5px;
}

/* line 570, ../../app/stylesheets/_layout.scss */
.dataTables_filter {
  float: right;
  text-align: right;
  width: 50%;
  margin-bottom: 5px;
}

/* line 577, ../../app/stylesheets/_layout.scss */
.dataTables_action {
  float: right;
  text-align: right;
  width: 40%;
}

/* line 583, ../../app/stylesheets/_layout.scss */
.dataTables_info {
  float: left;
  width: 45%;
}

/* line 587, ../../app/stylesheets/_layout.scss */
.dataTables_paginate {
  float: left;
  /*text-align:right;*/
  width: 44px;
}

/* line 593, ../../app/stylesheets/_layout.scss */
td.check {
  width: 1.5em;
}

/* line 597, ../../app/stylesheets/_layout.scss */
td.col50 {
  width: 50%;
}

/* line 601, ../../app/stylesheets/_layout.scss */
select.flow_list {
  width: 100%;
}

/* line 605, ../../app/stylesheets/_layout.scss */
input[type="textcell"] {
  width: 100%;
}

/* line 609, ../../app/stylesheets/_layout.scss */
table.dataTable {
  clear: both;
  margin-bottom: 5px;
}

/* line 613, ../../app/stylesheets/_layout.scss */
table.dataTable thead th {
  /*padding: 3px 18px 3px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;*/
  cursor: pointer;
}

/* line 620, ../../app/stylesheets/_layout.scss */
table.dataTable tfoot th {
  /*padding: 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;*/
}

/* line 626, ../../app/stylesheets/_layout.scss */
table.dataTable tr.heading2 td {
  /* border-bottom: 1px solid #aaa; */
}

/* line 630, ../../app/stylesheets/_layout.scss */
table.dataTable td {
  /*padding: 3px 10px;*/
}

/* line 634, ../../app/stylesheets/_layout.scss */
table.dataTable td.center {
  /*text-align: center;*/
}

/* Pagination nested */
/* line 639, ../../app/stylesheets/_layout.scss */
.paginate_enabled_previous, .paginate_enabled_next, .paginate_disabled_previous, .paginate_disabled_next {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  float: left;
}

/* line 646, ../../app/stylesheets/_layout.scss */
.paginate_enabled_previous {
  background-image: url("/images/resultset_previous.png");
}

/* line 651, ../../app/stylesheets/_layout.scss */
.paginate_enabled_next {
  background-image: url("/images/resultset_next.png");
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
/* line 659, ../../app/stylesheets/_layout.scss */
.sorting_asc {
  background: url("/images/sort_asc.gif") no-repeat center right;
}

/* line 663, ../../app/stylesheets/_layout.scss */
.sorting_desc {
  background: url("/images/sort_desc.gif") no-repeat center right;
}

/* line 667, ../../app/stylesheets/_layout.scss */
.sorting {
  /*background: url('/images/sort_both.png') no-repeat center right;*/
}

/* line 671, ../../app/stylesheets/_layout.scss */
.sorting_asc_disabled {
  /*background: url('/images/sort_asc_disabled.png') no-repeat center right;*/
}

/* line 675, ../../app/stylesheets/_layout.scss */
.sorting_desc_disabled {
  /*background: url('/images/sort_desc_disabled.png') no-repeat center right;*/
}

/* line 679, ../../app/stylesheets/_layout.scss */
.flow_act {
  font-weight: bold;
  background-color: #FFFF66;
}

/* line 684, ../../app/stylesheets/_layout.scss */
li.table_def_default {
  cursor: pointer;
  border: 1px solid #bbb;
  outline: medium none;
  background: #eee;
  padding: 3px 6px;
}

/* line 692, ../../app/stylesheets/_layout.scss */
li.table_def_head {
  outline: medium none;
  background: #555;
  border: 1px solid #555;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  padding: 3px 6px;
}

/* line 704, ../../app/stylesheets/_layout.scss */
#choices, #rows, #columns {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
  width: 30%;
  float: left;
}
