= form_tag request.path, :method => 'get' do
  %p
    = text_field_tag :search, params[:search], :class => "search text"
    = submit_tag "Filter", :class => "search button"
  = hidden_field_tag :page, 1