$white: #fff;
$background_color: #eee;

$text_color: #333;
$link_color: #000;

$logo_background: #74b200;
$logo_color: #ffffff;

$nav_background: #d5e69c;
$nav_color: #3e6e10;
$menu_background: #799d23;
$menu_color: #ffffff;
$menu_limit: #3e6e10;
$menu_hover: #3e6e10;

$width:98%;
$grid:12; /*can be 12 or 16*/