<div id="crumble">
GEOECU
</div>

<p>Welcome to GEOECU</p>

<ul>
<li>Energy
  <ul>
    <li><%= link_to "Commodity list", commodities_path %></li>
    <li><%= link_to "Technology list", technologies_path %></li>
   </ul></li>
<li>Emission sources</li>
<li>Air quality</li>
<li><%= link_to "Simulations", simulations_path %></li>
</ul>