.box
  %h2 Shortcuts
  .block
    %p
      - unless page == :index
        = link_to 'Browse demand drivers', demand_drivers_path
        %br
      - unless page == :new
        = link_to 'New demand_driver', new_demand_driver_path
        %br
