.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :edit }
  .box
    %h2 Demand Driver
    .block(id="idcard")
      = simple_form_for @demand_driver do |f|
        =f.input :name, :input_html => { :size => nil }
        =f.input :definition, :as => :text, :input_html => { :rows => 3, :cols=>nil }
        =f.button :submit
        %input(type="hidden" name="do" value="update")
.grid_9
  .box
    %h2 Demand driver values
    .block
      :erb
        <%= render :partial => 'shared/driver_table',
        :locals => {:driver => @demand_driver,
        :length_change => "true",
        :filter => "true",
        :request_path => demand_driver_path(@demand_driver),
        :cols => %w{year value source},
        :editable => %w{value source}
        } %>