.grid_3
  .box(class="action")
    %h2 Actions
    %br
    %p= link_to 'Browse all', demand_drivers_path, :class => "action browse"
    %p
      = link_to 'New demand driver', new_demand_driver_path, :class => "action new"
      = link_to 'Delete', @demand_driver, :confirm => 'Are you sure?', :method => :delete, :class => "action delete"

  .box
    %h2 Demand Driver
    .block(id="idcard")
      = simple_form_for @demand_driver do |f|
        =f.input :name, :input_html => { :size => nil }
        =f.input :definition, :as => :text, :input_html => { :rows => 3, :cols=>nil }
        =f.button :submit
        %input(type="hidden" name="do" value="update")

.grid_9
  .box
    %h2 Demand driver values
    .block
      :erb
        <%= render :partial => 'shared/parameter_table',
               :locals => { :object =>  @demand_driver,
                            :pid => "dd",
                            :request_path => demand_driver_path(@demand_driver),
                            :parameters => ["one"],
                            :cols => %w{year value source},
                            :editable => %w{value source},
                            :rules => {} } %>