.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New demand driver
    .block
      = simple_form_for @demand_driver do |f|
        = f.input :name
        = f.button :submit
.clear