.grid_3
  = render :partial => 'shortcuts', :locals => { :page => :edit }

.grid_9
  .box
    %h2 Market
    .block
      =simple_form_for @aggregate do |f|
        =f.input :name, :required => true
        =f.input :description, :input_html => {:rows => 2}
        =f.input :set_list, :as => :hidden, :input_html => {:value => "AGG"}
        =f.association :commodities
        =f.button :submit
.clear