.grid_3
  = render :partial => 'shortcuts', :locals => { :page => :new }
.grid_9
  .box
    %h2 New Aggregate
    .block
      =simple_form_for @aggregate do |f|
        =f.input :name
        =f.input :description, :input_html => {:rows => 2}
        =f.input :set_list, :as => :hidden, :input_html => {:value => "AGG"}
        =f.button :submit
.clear