.grid_2
  %div(class="box action")
    %h2 Actions
    %br
    %p= link_to 'Browse all', technology_sets_path, :class => "action browse"

.grid_10
  .box
    %h2 New TechnologySet
    .block
      =simple_form_for @technology_set do |f|
        =f.input :name
        =f.input :description, :input_html => {:rows => 2}
        =f.input :set_list, :as => :hidden, :input_html => {:value => "MARKET"}
        =f.button :submit, :class => "aligned"
        = f.hidden_field :energy_system_id, value: @current_res.id
.clear