.box(id="action")
  .block(id="action")
    %p
      - unless page == :index
        = link_to 'Browse', commodities_path, :class => "action browse"
        &nbsp;
      - unless page == :new
        = link_to 'New', new_commodity_path, :class => "action new"
        &nbsp;
      - if page == :edit
        = link_to 'Duplicate', duplicate_commodity_path, :confirm => 'Are you sure?', :method => :post, :class => "action duplicate"
        = link_to 'Delete', @commodity, :confirm => 'Are you sure?', :method => :delete, :class => "action delete"
