<% content_for :title, "New commodity" %>

<div class="grid_4">
<% form_for(@commodity) do |f| %>
  <%= f.error_messages %>
  <fieldset class="login">
    <legend>Commodity</legend>
    <p class="notice">Enter the following information.</p>
    <p> <%= f.label :name, 'Name:' %>
        <%= f.text_field :name %></p>
    <%= f.submit 'Create', :class => "confirm button" %>
  </fieldset>
<% end %>
</div>
<div class="clear"></div>