.grid_2
  .box(class="action")
    %h2 Actions
    %br
    %p
      = link_to 'New Market', new_market_path, :class => "action new"

.grid_10
  .box
    %h2 Browse markets
    %p
      %table(summary="Markets list")
        %thead
          %tr
            %th Name
            %th Description
            %th
        %tbody
          - @markets.each do |market|
            %tr
              %td= link_to market.name, edit_market_path(market)
              %td= link_to market.description, edit_market_path(market)
              %td= link_to 'delete', market, :confirm => 'Are you sure?', :method => :delete
.clear