.grid_3
  = render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New query
    .block
      =simple_form_for @market do |f|
        =f.input :name
        =f.input :description
        =f.button :submit
.clear