.box
  %h2 Shortcut
  .block
    %p
      - unless page == :index
        = link_to 'Browse stored queries', queries_path
        %br
      - unless page == :new
        = link_to 'New query', new_query_path
        %br
      - if page == :edit
        = link_to 'Duplicate query', duplicate_query_path, :confirm => 'Are you sure?'
        %br