.grid_3
  = render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New query
    .block
      = simple_form_for @table do |f|
        =f.input :name
        =f.input :aggregate
        =f.input :variable
        =f.input :rows
        =f.input :columns
        =f.input :filters, :input_html => {:rows=> '3'}
        =f.button :submit
.clear