/* NAVIGATION MENU */

ul.info,
ul.info * { margin:0;padding:0;}
ul.info {
  position:relative;
  background:$info_background;
  max-width:100%;
  height:2.5em;
  li {
    float:left;
    text-align:center;
    list-style-type:none;
    font-weight:normal;
    color: $info_color;
    text-decoration:none;
    display:block;
    float:left;
    padding:0 1em;
    height:2.4em;
    line-height:2.5em;
  }
}


/* SECONDARY  */

ul.info li.secondary {
  float:right;
  color: $info_color;
  background:transparent !important;
}