/*BODY*/

body {
  background: $background_color;
  color: $text_color;
  font-family: Ubuntu,sans-serif;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  line-height:1.2em; 
  margin-bottom:.3em;
}
h5 {
  font-size:1em;
  text-transform:uppercase;
}
h6 {
  font-size:1.1em;
  text-transform:uppercase;
}

/* PARAGRAPHS, QUOTES AND LISTS */

p {
  margin-bottom:1em;
}

ul, ol {
  padding-top:0;
}

/*LINKS*/
a {
  color: $link_color;
  font-weight:bold;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color:$text_color;
  }
}

/* CONTAINER */

.container {
  background-color:$white;
}

/* LOGO */
h1#logo {
  font-weight:normal;
  font-size:3em;
  text-align:left;
  background:$logo_background;
  padding:.25em 1em;
  margin-bottom:0;
  a {
    color:$logo_color;
    font-weight:normal;
  }
}

/* BOXES */
.box {
  background:$box-background;
  margin-bottom:20px;
  padding:10px 10px 1px 10px;
  @include corner(5px);
  h2 {
    font-size:1em;
    font-weight:normal;
    text-transform:uppercase;
    color:$h2_color;
    background:$h2_background;
    margin:-10px -10px 0 -10px;
    padding:6px 12px;
    @include corner_top(5px);
  }
}

.block {
  padding-top:10px;
  padding-bottom:1px;
}

.footer {
  background:$footer-background;
  margin-bottom:20px;
  padding:10px 10px 1px 10px;
    @include corner(5px);
}

/* LEFT LIST MENU SELECTION */
ul.menu {
  list-style:none;
  border-top:1px solid #bbb;

  li {
    margin:0;
  }

  li a {
    display:block;
    padding:4px 10px;
    border-bottom:1px solid #ccc;

    &:hover {
      background:#eee;
    }

    &.active {
      background:#ccc;
    }

  }
}

/* table
----------------------------------------------- */
table {
  width:100%;
}
col.colC {
  width:8em;
}
th, td {
  padding:.1em 1em;
  text-align:left;
    vertical-align:middle;
}
thead th {
  border-bottom:2px solid #888;
  background:#bbb;
  padding:.4em 1em .2em;
  text-align: center;
}

tbody th,
tbody td {
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  background:#eee;
}
tbody tr.odd th,
tbody tr.odd td {
  background:$white;
}
tfoot th,
tfoot td {
  border-top:2px solid #666;
  background:#eee;
  text-align: center;
}

tfoot th.inputs, thead th.inputs {
  border:0px;
  text-align: center;
}

/* AJAX sliding shelf
----------------------------------------------- */
#loading {
    float:right;
    margin-right:14px;
    margin-top:-2px;
}

/* NOTICE */

.alert {
  padding:1px 5px 5px 0px;
  margin-bottom:10px;
    text-align:center;
    background:$white;
    font-weight:bold;
    color:$red;
}

.notice {
  padding:1px 5px 5px 0px;
  margin-bottom:10px;
    text-align:center;
    background:$white;
    font-weight:bold;
    color:$notice;
}

td.col50 {
    width:50%;
}

select.flow_list {
    width:100%;
}

select.tiny {
  font-size:100%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
  background: url('sort_asc.gif') no-repeat center right;
}

.sorting_desc {
  background: url('sort_desc.gif') no-repeat center right;
}

.flow_act {
    font-weight:bold;
    background-color: #FFFF66;
}

li.table_def_default {
    cursor: pointer;
    border:1px solid #bbb;
    outline:medium none;
  background:#eee;
    padding:3px 6px;
}

li.table_def_head {
    outline:medium none;
    background:#555;
  border:1px solid #555;
    font-size:1em;
  font-weight:normal;
  text-transform:uppercase;
  color:$white;
    padding:3px 6px;
}

#choices, #rows, #columns {
list-style-type:none;
margin:0 0 1em 0;
padding:0;
width:30%;
float: left;
}

#query_result {
    overflow:auto;
    width:100%;
    height:500px;
    margin-bottom:0px;
}

#table_query {
    margin-bottom:0px;
}

#table_component {
  width:400px;
}

#sel_avail_commodity, #components {
  width:100%;
}

/* forms */
.simple_form {
   margin: 0;
   padding: 0;
}

.input {
    display: block;
    margin-bottom: 0.5em;
    padding: 0;
}

.input label {
    float: left;
    padding: 0 7px;
    text-align: right;
    width: 100px;
}

.input input, .input textarea {
    border-color: #555555 #CCCCCC #CCCCCC #555555;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    width: 300px;
}

.input input:focus, .input textarea:focus {
    background: none repeat scroll 0 0 $box-background;
}

input.button {
    margin-bottom:5px;
    margin-top:5px;
    padding: 4px 9px 4px 10px;
    background-color:$h2_background;
    background-position: 6px center;
    background-repeat: no-repeat;
    color:$h2_color;
    @include corner(5px);
    font-size:105%;
    font-weight:bold;
    border:0px;
    cursor: pointer;
}

input.aligned {
    margin-left:114px;
}

.input input.boolean {
  width: 1em;
}

.simple_form .error {
  clear: left;
  font-size: 12px;
  color: $red;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: $grey;
  display: block;
  font-style: italic;
}

#idcard .input label {
    text-align: left;
}

#idcard .select label {
    width:100%;
}

#idcard .input input, #idcard .input textarea {
    width: 98%;
    clear:both;
}

#action.block {
  padding-top:3px;
  line-height:25px;
}

#action.box {
  background:lighten($box_background,7%);
}

a.action {
 text-decoration : none;
 padding: 4px 9px 4px 25px;
 background-image:url("a_go.png");
 background-color:$h2_background;
 background-position: 6px center;
 background-repeat: no-repeat;
 color:$h2_color;
 line-height: 2em;
 @include corner(5px);
 }

 a.new {
  background-image:url("a_new.png");
 }

 a.duplicate {
  background-image:url("a_duplicate.png");
 }

 a.delete {
  background-image:url("a_delete.png");
 }

 a.delete_pv {
  background-image:none;
  padding: 4px 9px;
 }

 a.browse {
  background-image:url("a_browse.png");
 }

 a.download {
  background-image:url("a_download.png");
 }

 a.import {
  background-image:url("a_import.png");
 }

 a.check_db {
  background-image:url("a_check_db.png");
 }

 a.backup_db {
  background-image:url("a_backup_db.png");
 }

 a.reset_db {
  background-image:url("a_reset_db.png");
 }

 a.sign_up {
  background-image:url("a_sign_up.png");
 }

 a.sign_in {
  background-image:url("a_sign_in.png");
 }

 input.restore_db {
  padding: 4px 9px 4px 25px;
  background-image:url("a_restore_db.png");
 }

 a.action:hover {
  color: #ccc;
 }

/*
DataTable
*/

table.dataTable {
    clear:both;
    margin-bottom:0px;
}

table.dataTable thead th {
  cursor: pointer;
}

table.dataTable input, .dataTables_filter input {
    border-color: #555555 #CCCCCC #CCCCCC #555555;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

input[type="textcell"] {
    width: 100%;
}

th.check, td.check {
    width:1.5em;
    padding-left:0px;
    padding-right:0px;
    text-align:center;
}

th.value {
  width:10%;
}

th.add {
    width:1.5em;
}

#error_explanation h2 {
    background:$box-background;
    color:$red;
    margin:0 0 0 0;
}

.edit {
  width:100%;
  display: inline;
}

// DATA TABLE GENERAL

.dataTables_wrapper {
  position: relative;
  clear: both;
}

.dataTables_length  {
  float:left;
  width:50%;
  margin-bottom:5px;
}

.dataTables_processing {
  float:left;
}

.dataTables_filter {
    float:right;
    text-align:right;
    width:30%;
    margin-bottom:5px;
}

.dataTables_action {
    float:left;
    width:45%;
    margin-top: 5px;
}

.dataTables_info {
    float:right;
    text-align:right;
    width:30%;
    margin-top: 5px;
}
.dataTables_paginate {
    float:left;
    margin-top: 5px;
}

.dataTable_delete {
  float:left;
  display:block;
  width:40%;
}

.dataTable_add {
  float:right;
    text-align:right;
    width:30%;
}

.paginate_enabled_previous, .paginate_enabled_next, .paginate_disabled_previous, .paginate_disabled_next {
  height: 16px;
  width: 16px;
  margin-left: 3px;
  float: left;
}

.paginate_enabled_previous {
  background-image: url('/images/resultset_previous.png');
}

.paginate_enabled_next {
  background-image: url('/images/resultset_next.png');
}

/* LIST TABLE */

table.list_table thead th {
    cursor: pointer;
}

table.list_table {
    clear: both;
    margin-bottom: 5px;
}

table.list_table input {
    border-color: #555555 #CCCCCC #CCCCCC #555555;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

table.list_table th.check {
    width:1.5em;
}

table.list_table th.name {
    width:25%;
}

.paginate_enabled_next, .paginate_enabled_previous, .paginate_button {
  cursor: pointer;
}

.paginate_button {
  padding: 2px;
}

.paginate_active {
  font-weight: bold;
  padding: 2px;
}

/* SOLVER */

#display_log pre {
  font-size:1.5em;
}
