/* NAVIGATION MENU */

ul.nav,
ul.nav * { margin:0;padding:0;}
ul.nav {
  position:relative;
  background:$nav_background;
  max-width:100%;
  height:2.5em;
  li {
    cursor:pointer;
    float:left;
    text-align:center;
    list-style-type:none;
    font-weight:normal;
    &:hover ul {
      left:0;
      z-index:10;
      li a {
        color:$menu_limit;
        &:hover {color:#000; background:$nav_color;}
        &:active {color:$nav_background; background:$nav_color;}
      }
    }
    a {
      background:$nav_background;
      font-weight:bold;
      text-decoration:none;
      display:block;
      float:left;
      padding:0 1em;
      height:2.4em;
      line-height:2.5em;
      &:active {color:$nav_background; background:$nav_color;}
    }
    ul {
      cursor:default;
      width:100%;
      max-width:100%;
      position:absolute;
      height:auto;
      top:2.5em;
      background-position:0 0 !important;
      left:-9000px;
      li {
        padding:0;
        border:none;
        width:auto;
        max-width:none;
        a {
          position:relative !important; /* ie Mac */
          cursor:pointer !important;
          white-space:nowrap;
          line-height:2em;
          height:2em;
          font-weight:normal;
          color:$nav_background;
          background-position:0 50% !important;
        }
      }
    }
  }
}

/* DROP-DOWN MENU */

ul.main {
  li {
    position:relative;
    top:0;
    left:0;
    &:hover a {
      color:$menu_color;
      background:$menu_background;
      &:active {
        background:$menu_background;
      }
    }
    &:hover ul li a {
      color:$menu_color;
      &:hover {
        color:$menu_color;
        background:$menu_hover;
      }
      &:active {
        color:$menu_color;
        background:$menu_background;
      }
    }
    ul {
      border-top:0;
      li {
        float:left;
        a {
          width:12em;
          line-height:2em;
          height:2em;
          text-align:left;
          color:$nav_color;
          border-top:1px solid $menu_limit;
          background:$menu_limit;
          &:hover {color:$nav_color; background:$menu_background;}
        }
      }
    }
    a {
      height:2.5em;
      line-height:2.5em;
      border:0;
      color:$nav_color;
      background:$nav_background;
      &:focus {color:$nav_color; background:$nav_background;}
    }
  }
}

/* SECONDARY  */

ul.nav li.secondary {
  float:right;
  color:#cde;
  background:transparent !important;
  &:hover a {
    color:$menu_color;
    background:$menu_background;
    &:hover {
      background:$menu_background;
    }
    &:active {background:$menu_limit;}
  }
  span.status {
    float:left;
    padding:0 1em;
    line-height:2.77em;
    height:2.77em;
    font-size:0.9em;
    span {
      text-transform:capitalize;
    }
    a {
      float:none;
      display:inline;
      padding:0;
      height:auto;
      line-height:auto;
      color:#cde;
      background:transparent;
      &:hover {
        color:$nav_color;
        background:transparent;
      }
    }
  }
}