.box
  %h2 Shortcut
  .block
    %p
      - unless page == :index
        = link_to 'Browse solver jobs', solvers_path
        %br
      - unless page == :new
        = link_to 'New solver run', new_solver_path
        %br