:javascript
  function start_solver() {
    $.blockUI({ message: '<b>Generating problem...</b>',
      css: { border: 'none',
        padding: '15px',
        backgroundColor: '#000',
        opacity: .5,
        color: '#fff'
      }});
    $('#new_solver').submit();
  }
.grid_2
  .box
    %h2 Action
    .block
      %p= link_to 'Browse all', solvers_path, :class => "action browse"
.grid_10
  .box
    %h2 New Solver job
    .block
      = simple_form_for @solver do |f|
        =f.input :first_year, :as => :integer
        =f.input :nb_periods, :as => :integer
        =f.input :period_duration, :as => :integer
        =f.input :language, :collection => [["GAMS","GAMS"],["GLPK","GLPK"]], :include_blank => false
        = button_to_function "Launch solver", "start_solver()", :class => "button aligned"
.clear