.grid_3
  =render :partial => 'shortcuts', :locals => { :page => :new }
.grid_6
  .box
    %h2 New resultset
    .block
      = simple_form_for @output do |f|
        %p
          = f.input :name
          = f.button :submit
.clear