.grid_2
  .box(class="action")
    %h2 Actions
    %br
    %p= link_to 'Browse all', outputs_path, :class => "action browse"
.grid_6
  .box
    %h2 New resultset
    .block
      = simple_form_for @output do |f|
        %p
          = f.input :name
          = f.button :submit
.clear
